# .env file
**/.env

# build ignores
**/dist

# IDE ignores
/.idea

# node ignores
/**/node_modules

# yarn ignores
.yarn/*

# yarn includes
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
